body {
    text-align: center;
    background-color: rgb(157, 237, 237);
    }
    
    .quiz_pictureHidden, .formHidden, .tryagainHidden, .startHidden, .timerHidden{
        visibility: hidden;    
    }
    
