@media (max-width: 480px){

    *{
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
    }
    
    
    body {
        text-align: center;
        background: #5989d6;
           }
    
    .border_start{
    
        background: #fff;
        width: 90%;
        max-width: 600px;
        max-height: 105px;
        margin: 25px auto 0;
        border-radius: 30px;
        }
    
    .quiztitle{
        font-size: 110%;
        padding-top: 15px;

    }
    
    .border{
    
        background: #fff;
        width: 90%;
        max-width: 600px;
        max-height: 1000px;
        margin: 25px auto 0;
        border-radius: 30px;
    }
    
    
    
    .picture {
        position: relative;
        top: -50px;
        left: 0px;
        border-radius: 15px;
        height: 400px;
        width: 350px;
    }
    
    .currentScore {
        display: inline;
        position: relative;
        top: -50px;
        left: 110px;
    }
    
    .answerButtons {
        position: relative;
        top: -20px;
        left: 0px;
    }
    
     
    .quiz_pictureHidden, .formHidden, .tryagainHidden, .startHidden, .timerHidden, .currentScoreHidden, .answerButtonsHidden, 
    .nextButtonHidden, .checkSignHidden, .xSignHidden{
            visibility: hidden;    
        }
    
 
    
    .answerBtn {
        background: #fff;
        color: #222;
        font-weight: 500;
        width: 30%;
        border: 2px solid #222;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
       
    }
    
    /* .answerBtn:hover{
        background: #222;
        color: #fff;
    
    }
     */
    .turnRedWrongAnswer {
        background: #ee4e4e;
        pointer-events: none;
        
    }
    
    .turnGreenCorrectAnswer {
        background: #25ee89;
        pointer-events: none;
      
    }
    
    .turnPale {
        background: #fff;
        color: #b3b2b2;
        font-weight: 500;
        width: 30%;
        border: 2px solid #b3b2b2;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
        border-radius: 4px;
        pointer-events: none;
      
    }
    
    .nextButton {
        position: relative;
        top: -25px;
        left: 0px;
    
    }
    
    .nextButtonDisabled {
        pointer-events: none;
    }
       
    .nextButton, #start{
        background: #001e4d;
        color: #fff;
        font-weight: 500;
        width: 150px;
        padding: 10px;
        border: 0;
        padding: 10px;
        margin: 20px auto 0;
        border-radius: 4px;
        cursor: pointer;
    
    }
    
    
    .checkSignA {
        position: relative;
        top: -145px;
        left: -18px;
        display: flex;
        
    }
    
    .xSignA {
        position: relative;
        top: -210px;
        left: -15px;
        display: flex;
        
    }
    
    .checkSignB {
        position: relative;
        top: -270px;
        left: 95px;
        display: flex;
        
    }
    
    .xSignB {
        position: relative;
        top: -335px;
        left: 95px;
        display: flex;
        
    }
    
    .checkSignC {
        position: relative;
        top: -395px;
        left: 205px;
        display: flex;
        
    }
    
    .xSignC {
        position: relative;
        top: -460px;
        left: 205px;
        display: flex;
        
    }
    
    /* timer style */
    
    
    .timer {
        position: relative;
        top: 10px;
        left: 60px;
        display: flex;
        height: 50px;
    }
    
    #countDown{
        width: 40px;
        
        position: relative;
        top: -170px;
        left: -16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size:xx-large;
        color: #001e4d;;
    }
    
    .timer, .circle, .svg {
        fill: transparent;
        stroke-width: 10px;
        stroke: #001e4d;
        transform: translate(3px, 3px);
    }
    
    .timer, .circle, .svg:nth-child(2) {
        stroke: var(--clr);
        stroke-dasharray: 440;
        stroke-dashoffset: 298;
        animation: dash 30s linear;
        /* stroke animation is independent of setTime */
    }
    
    
    @keyframes dash {
        from {stroke-dashoffset: 298;}
        to {stroke-dashoffset: 440;}
    }
    
    .stoppedAnimation {
    animation: none;
    }
    
    .signature{
        position: absolute;
        left: 0px;
        top: -3px;
        font-style: italic;
        color: #021d49;
    }
       
    }
    